<!DOCTYPE html>
<html lang="en" translate="no">

<head>
    <!-- Browser standards -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="index.css">
    <script crossorigin="anonymous" referrerpolicy="no-referrer"
        integrity="sha512-S/UB/AdGt16YP1OyopwfVG1BO93nkwVNY7No5zfALnztixutqOuP3DGvo7G4YqB77uL791jWNjQnT/63CjOZNw=="
        src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.10.0/forge.min.js"></script>
    <script crossorigin="anonymous" referrerpolicy="no-referrer"
        integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A=="
        src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>

    <!-- SEO -->
    <title>CheesePics</title>
    <meta name="description" content="clic link for fre chees nudes exploid in 202 !!111!!! (!)">
    <meta name="author" content="sys-256 (Bram)">
    <meta name="keywords" content="cheese, Cheese, CheesePics, cheesepics, CheesePics.xyz, cheesepics.xyz">
    <meta property="og:title" content="CheesePics">
    <meta property="og:description" content="clic link for fre chees nudes exploid in 202 !!111!!! (!)">
    <meta property="og:url" content="https://cheesepics.xyz">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="/favicon.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="CheesePics.xyz">
    <meta name="theme-color" content="#FFAC33">
</head>

<body>
    <div id="particles-bg"></div>
    <script>
        particlesJS.load("particles-bg", "/particles.json");
    </script>
    <nav>
        <h1>
            <a href="/" class="link-home">CheesePics</a>
            <div style="float: right; margin-right: 10px;">
                <a href="/liked"><i class="fa-solid fa-heart"></i>&nbsp;Liked images</a>
                <a href="/account"><i class="fa-solid fa-user"></i>&nbsp;My account</a>
            </div>
        </h1>
    </nav>
    <br><br>
    <div class="image-div">
        <img src="/images/<%= ranNum %>.jpg" alt="Cheese" id="cheese-img"><br>
        <a href="//cheese.com">&copy; cheese.com</a>
    </div>
</body>

</html>