# Node.js bloat
node_modules/
package-lock.json

# Build artifacts
build/

# Images
public/images/

# MacOS
.DS_Store

# Visual Studio Code
.vscode/

# SQLTools
**/*.session.sql

# Sessions database
sessions.sqlite3