@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

body {
    background-color: #ffd983;
    font-family: "Noto Sans", sans-serif;
}

.title {
    font-size: larger;
    margin-top: 10%;
    margin-left: 12%;
    position: fixed;

    color: rgb(255, 255, 255);
    visibility: visible;
}

.sex {
    font-size: larger;
    margin-top: 10%;
    margin-left: 12%;
    position: fixed;

    color: rgb(255, 255, 255);
    visibility: hidden;
}

.keeper {
    width: 200px;
    height: 5%;

    margin-top: 10%;
    margin-left: 12%;
    position: fixed;
}

.title:hover {
    visibility: hidden;
}

.title:hover + .sex {
    visibility: visible;
    margin-left: 10%;
}

button {
    background-color: rgb(255, 179, 0);
    color: white;
    border-radius: 20px;
    border: none;

    width: 100px;
    height: 40px;


    margin-top: 10%;
    margin-left: -25.5%;
    position: fixed;
}

.login {}
.register {
    margin-top: 13.5%
}
.cheese {
    margin-top: 17%;
}

button:hover {
    background-color: rgb(243, 198, 93);

    width: 110px;

    transition: background-color 0.1s, width 0.2s;
}

p {
    background-color: rgb(255, 179, 0);
    color: white;
    border-radius: 20px;

    position: relative;
    margin-top: auto;
}

div.image-div {
    margin-left: 40%;
    display: grid;
    justify-content: center;
    text-align: center;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

img#cheese-img {
    min-height: 5em;
    max-height: 30em;
    width: auto;
    max-width: 100%;
}

.link-home {
    font-size: 1.5em;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(154, 154, 154);
    text-decoration: underline;
}